@font-face {
  font-family: "Technology Extravagant";
  src: url("../fonts/TechnologyExtravagant-Italic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Technology";
  src: url("../fonts/Technology-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Technology Extravagant";
  src: url("../fonts/TechnologyExtravaganza.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Technology";
  src: url("../fonts/Technology-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Technology";
  src: url("../fonts/Technology-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "alarm clock";
  src: url("../fonts/alarmclock.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BTTF";
  src: url("../fonts/BTTF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  overflow-x: hidden;
}

@keyframes clock {
  0%, 49.9% {
    background: radial-gradient(at 70% 30%, rgba(255, 255, 255, 0.3), transparent 20%), radial-gradient(rgb(47, 47, 0), black);
  }
  50%, 99.9% {
    background: radial-gradient(at 70% 30%, rgba(255, 255, 255, 0.3), transparent 20%), radial-gradient(rgb(255, 255, 0), rgb(40, 30, 0));
  }
}
.machine {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#time_machine {
  background-image: linear-gradient(to bottom, rgba(57, 57, 57, 0.4)), url(../time-machine/gray-grime.png);
  background-size: 100%;
  background-position: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 28px 0px 10px 0px;
  width: 95%;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 700px;
}
#time_machine .circuit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 5px 0;
  overflow-x: hidden;
  border-bottom: 3px solid rgb(218, 218, 218);
}
#time_machine .circuit .boxes {
  max-width: 95%;
  display: flex;
  justify-content: space-between;
}
#time_machine .circuit .boxes .box {
  font: 60px "alarm clock", sans-serif;
  border-radius: 2px;
  background: rgb(9, 9, 9);
  padding: 3px 3px 0px 6px;
  line-height: 40px;
  flex: 1 1;
  margin: 0 10px;
  text-align: center;
  position: relative;
  box-shadow: 1px -1px 0.7px rgb(87, 87, 87) inset;
}
#time_machine .circuit .boxes .box span {
  transform: skew(-5deg);
  color: rgba(255, 255, 255, 0.125);
  display: block;
  position: relative;
  z-index: 2;
  line-height: 48px;
}
#time_machine .circuit .boxes .box span::after {
  content: var(--value);
  color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  -webkit-background-clip: text;
          background-clip: text;
}
#time_machine .circuit .boxes .box::after {
  padding: 0 7px 2px 7px;
  text-align: center;
  background: rgba(255, 0, 0, 0.834);
  border-radius: 1px;
  box-shadow: 0px 0px 1px black inset;
  color: whitesmoke;
  text-transform: lowercase;
  font-variant: small-caps;
  content: var(--name);
  font: 15px/13px "Arial", sans-serif;
  font-variant: small-caps;
  position: absolute;
  left: 50%;
  top: -5px;
  transform: translate(-50%, -100%);
  padding: 0 7px 2px 7px;
}
#time_machine .circuit .boxes .ampm {
  min-width: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
#time_machine .circuit .boxes .ampm .am,
#time_machine .circuit .boxes .ampm .pm {
  background: radial-gradient(at 70% 30%, rgba(255, 255, 255, 0.3), transparent 20%), radial-gradient(rgb(47, 47, 0), black);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
}
#time_machine .circuit .boxes .ampm .am::after,
#time_machine .circuit .boxes .ampm .pm::after {
  padding: 0 7px 2px 7px;
  text-align: center;
  background: rgba(255, 0, 0, 0.834);
  border-radius: 1px;
  box-shadow: 0px 0px 1px black inset;
  color: whitesmoke;
  text-transform: lowercase;
  font-variant: small-caps;
  content: var(--label);
  font-size: 13px;
  line-height: 12px;
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 0 2px;
}
#time_machine .circuit .boxes .ampm .am.on,
#time_machine .circuit .boxes .ampm .pm.on {
  background: radial-gradient(at 70% 30%, rgba(255, 255, 255, 0.3), transparent 20%), radial-gradient(rgb(255, 255, 0), rgb(40, 30, 0));
}
#time_machine .circuit .boxes .ampm .pm {
  margin-top: 15px;
}
#time_machine .circuit .boxes .dots {
  position: relative;
}
#time_machine .circuit .boxes .dots::after, #time_machine .circuit .boxes .dots::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  animation-name: clock;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#time_machine .circuit .boxes .dots::after {
  top: 20%;
}
#time_machine .circuit .boxes .dots::before {
  bottom: 20%;
}
#time_machine .circuit .label {
  text-align: center;
  background: rgb(12, 12, 12);
  color: rgb(212, 212, 212);
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 5px;
  padding: 0 8px 2px 8px;
  font: 15px/16px "Arial", sans-serif;
  font-variant: small-caps;
  text-transform: lowercase;
  box-shadow: 1px -1px 0.6px rgb(42, 42, 42) inset;
  border-radius: 1px;
}
#time_machine .circuit.going .boxes .box span::after {
  background-image: radial-gradient(rgba(255, 136, 0, 0.9), rgba(255, 123, 0, 0.8));
}
#time_machine .circuit.are .boxes .box span::after {
  background-image: radial-gradient(rgba(179, 255, 0, 0.9), rgba(0, 255, 42, 0.8));
}
#time_machine .circuit.been .boxes .box span::after {
  background-image: radial-gradient(rgba(255, 187, 0, 0.9), rgba(255, 166, 0, 0.8));
}

.hero {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: calc(100vh - 110px);
  width: 100vw;
  overflow: hidden;
  position: relative;
  background: url(../imgs/road.jpeg);
  background-size: cover;
  background-position: center;
}
.hero .center {
  max-height: 600px;
  max-width: 600px;
  width: 100vw !important;
  border-radius: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  overflow: visible;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}
.hero .center::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(44, 0, 167, 0.4)), url("../imgs/lightning.webp");
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  -webkit-mask-image: radial-gradient(white 60%, transparent 70% 80%, transparent);
          mask-image: radial-gradient(white 60%, transparent 70% 80%, transparent);
}
.hero .center h2 {
  font-size: 50px;
  font-family: "BTTF", sans-serif;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: radial-gradient(orange, rgb(255, 217, 0));
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}
.hero .bus {
  background: url(../imgs/bus.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 300px;
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 3;
}

.footer {
  width: 100%;
  height: 110px;
  border-top: 1px solid white;
  background: gray;
  overflow: hidden;
}
.footer #time_machine {
  width: 100vw !important;
  padding: 0 !important;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer #time_machine .circuit {
  max-width: 40%;
  height: 110px;
  display: flex;
  align-items: center;
  border-bottom: 0 !important;
}
.footer #time_machine .circuit:nth-child(2) {
  border-right: 1px solid white;
}
.footer #time_machine .circuit:nth-child(1) {
  border-left: 1px solid white;
}
.footer #time_machine .circuit {
  padding-right: 30px;
}
.footer .speedometer {
  box-shadow: 0px 0px 5px black;
  margin-top: 20px;
  margin-bottom: 5px;
  background: linear-gradient(to right, rgb(206, 190, 169) 0 97%, rgb(245, 235, 221));
  padding: 0px 40px 8px 40px;
  border-radius: 5px;
  position: relative;
}
.footer .speedometer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  border-radius: 5px;
  box-shadow: 0px 1px 1px black;
  transform: translateY(calc(-100% - 1px));
  background: linear-gradient(to top, transparent 0 40%, rgb(245, 235, 221) 80%), linear-gradient(to right, rgb(206, 190, 169) 0 97%, rgb(245, 235, 221));
}
.footer .speedometer a {
  text-decoration: none;
}
.footer .speedometer a .intothebutton {
  box-shadow: -2px 2px 3px rgb(245, 235, 221);
  width: 120px;
  background: black;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.footer .speedometer a .intothebutton span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px 0 8px;
  background-image: radial-gradient(white, rgb(255, 177, 177));
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  font-family: "alarm clock", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  filter: drop-shadow(0px 0px 2px red) drop-shadow(0px 0px 3px red);
}
.footer .speedometer.off a {
  pointer-events: none;
  cursor: default;
}
.footer .speedometer .buttons {
  position: absolute;
  top: calc(50% - 2px);
  left: 20px;
  transform: translate(-50%, -50%);
  background-color: rgb(31, 31, 31);
  color: white;
  font-variant: small-caps;
  line-height: 18px;
  font-size: 20px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 0px 0px 3px rgb(0, 0, 0) inset;
  border-radius: 2px;
}
.footer .speedometer .buttons::before {
  content: "set";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  background: inherit;
  box-shadow: inherit;
  border-radius: inherit;
  padding: inherit;
  font-family: inherit;
}
.footer .speedometer .buttons::after {
  content: "88";
  font-family: inherit;
  font-size: 15px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  box-shadow: inherit;
  border-radius: inherit;
  padding: inherit;
  line-height: 12px;
  padding-top: 4px;
  background: rgb(173, 0, 0);
}

@media screen and (max-width: 1630px) {
  .footer #time_machine .circuit {
    max-width: 60%;
  }
}
@media screen and (max-width: 1440px) {
  .footer {
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer #time_machine {
    flex-direction: column;
  }
  .footer #time_machine .circuit:nth-child(1) {
    order: 3;
  }
  .footer #time_machine .circuit:nth-child(2) {
    order: 1;
  }
  .footer #time_machine .circuit {
    border: none !important;
    border-bottom: 1px solid white !important;
  }
}
@media screen and (max-width: 1060px) {
  .circuit {
    max-width: 100% !important;
  }
}
@media screen and (max-width: 660px) {
  .footer {
    height: 110px;
  }
  .footer #time_machine {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer #time_machine .circuit {
    display: none !important;
  }
}
.header {
  font-family: "BTTF", sans-serif;
  color: gold;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  background: url(../imgs/plasma.webp);
  text-shadow: 0px 0px 3px rgb(149, 51, 51), 0px 0px 10px rgb(255, 66, 66), 0px 0px 5px rgb(255, 123, 0), 0px 0px 10px white, 0px 0px 8px white, 0px 0px 6px white;
}

.control {
  height: 60px;
  background: url(../time-machine/gray-grime.png);
  background-size: cover;
  background-position: center;
  border-top: 3px solid rgb(172, 172, 172);
  border-bottom: 3px solid rgb(78, 78, 78);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.control input {
  width: calc(100% - 300px);
  background: black;
  color: rgba(255, 255, 0, 0.8);
  font-family: "Courier New", Courier, monospace;
  height: 30px;
  margin: 0;
  border: none !important;
}
.control input:focus {
  outline: none;
}
.control input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.control input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.control label {
  width: 100px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  height: 30px !important;
  padding: 3px 0 0 10px;
  position: relative;
}
.control span {
  display: block;
  background: red;
  text-align: center;
  width: 100px;
}

.projects {
  background: url(../imgs/road.jpeg);
  background-size: 100% 100%;
  height: calc(100vh - 160px);
  overflow-y: hidden;
  position: relative;
  perspective: 2000px;
  isolation: isolate;
}
.projects .skewed {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 20px;
  height: 135%;
  transform: rotateX(-40deg);
  transform-origin: top center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.projects .skewed .project {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../time-machine/gray-grime.png);
  background-size: cover;
  border: 5px outset black;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  margin: 20px;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
}
.projects .skewed .project .time {
  width: 500px;
  border-right: 2px solid rgb(56, 56, 56);
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.projects .skewed .project .time .display {
  width: -moz-fit-content;
  width: fit-content;
  font: 60px "alarm clock", sans-serif;
  border-radius: 2px;
  background: rgb(9, 9, 9);
  padding: 3px 3px 0px 6px;
  line-height: 40px;
  flex: 1 1;
  margin: 0 10px;
  text-align: center;
  position: relative;
  box-shadow: 1px -1px 0.7px rgb(87, 87, 87) inset;
}
.projects .skewed .project .time .display span {
  transform: skew(-5deg);
  color: rgba(255, 255, 255, 0.125);
  display: block;
  position: relative;
  z-index: 2;
  line-height: 48px;
}
.projects .skewed .project .time .display span::after {
  content: var(--value);
  color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-image: radial-gradient(rgba(255, 136, 0, 0.9), rgba(255, 123, 0, 0.8));
  -webkit-background-clip: text;
          background-clip: text;
}
.projects .skewed .project .iframe iframe {
  pointer-events: none;
  height: 100%;
  margin-bottom: -6px;
  overflow: hidden;
}
.projects .skewed .project .about {
  font-family: "Open Sans", sans-serif;
  color: black;
  text-align: center;
  width: calc(100% - 400px - 500px);
  padding: 20px;
}
.projects .skewed .project .about .description {
  background-color: black;
  color: white;
  min-height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -1px -1px 5px rgb(143, 143, 143) inset;
  font-size: 20px;
  padding: 10px;
  border-radius: 2px;
}
.projects .skewed .project:hover {
  transform: scaleY(130%) perspective(2000px) rotateX(35deg);
}
.projects .skewed::-webkit-scrollbar {
  display: none;
}
.projects::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, rgb(1, 1, 122));
}
.projects::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  backdrop-filter: blur(10px);
  -webkit-mask-image: linear-gradient(to bottom, transparent, white);
          mask-image: linear-gradient(to bottom, transparent, white);
}

.p404 {
  background: url(../imgs/BTTF404page.png);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.p404 #controller404 {
  width: -moz-fit-content;
  width: fit-content;
}

.timeMachineOverlay {
  pointer-events: none;
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 10000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeMachineOverlay #time_machine {
  pointer-events: none;
}
.timeMachineOverlay::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, rgba(0, 0, 56, 0.8), rgba(0, 0, 14, 0.8));
  z-index: -1;
}
.timeMachineOverlay video {
  pointer-events: none;
  position: absolute;
  width: 100vw;
  z-index: 10;
  opacity: 0;
}

.fadein {
  animation-name: showmachine;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.videoActivate {
  animation-name: videoon;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes showmachine {
  0% {
    display: flex;
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  10%, 90% {
    display: flex;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes videoon {
  0% {
    opacity: 0;
  }
  20%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 1200px) {
  .project {
    flex-direction: column;
  }
  .project .time,
  .project .iframe,
  .project .about {
    width: 100% !important;
  }
  .project .time {
    order: 3;
    margin-bottom: 10px;
  }
  .project .iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
  }
  .project .about {
    order: 1;
  }
}/*# sourceMappingURL=style.css.map */