@font-face {
  font-family: "Technology Extravagant";
  src: url("../fonts/TechnologyExtravagant-Italic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Technology";
  src: url("../fonts/Technology-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Technology Extravagant";
  src: url("../fonts/TechnologyExtravaganza.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Technology";
  src: url("../fonts/Technology-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Technology";
  src: url("../fonts/Technology-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html,
body {
  width: 100%;
  height: 100%;
}

#time_machine {
  background-image: linear-gradient(to bottom, rgba(57, 57, 57, 0.4)), url(../time-machine/gray-grime.png);
  background-size: 100%;
  background-position: center;
  padding: 28px 10px 10px 10px;
  width: 95%;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#time_machine .circuit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#time_machine .circuit .boxes {
  display: flex;
  justify-content: space-between;
}
#time_machine .circuit .boxes .box {
  border-radius: 2px;
  background: rgb(9, 9, 9);
  color: white;
  font-size: 60px;
  padding: 10px 3px 0px 6px;
  line-height: 40px;
  flex: 1 1;
  margin: 0 10px;
  text-align: center;
  position: relative;
  box-shadow: 1px -1px 0.7px rgb(87, 87, 87) inset;
  font-family: "Technology", sans-serif;
}
#time_machine .circuit .boxes .box::after {
  content: var(--name);
  font-size: 15px;
  font-variant: small-caps;
  font-family: "Arial", sans-serif;
  position: absolute;
  left: 50%;
  top: -5px;
  transform: translate(-50%, -100%);
  padding: 0 7px 2px 7px;
  line-height: 13px;
  text-align: center;
  background: rgba(255, 0, 0, 0.834);
  border-radius: 1px;
  box-shadow: 0px 0px 1px black inset;
}
#time_machine .circuit .boxes .ampm {
  min-width: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
#time_machine .circuit .boxes .ampm .am,
#time_machine .circuit .boxes .ampm .pm {
  background: radial-gradient(at 70% 30%, rgba(255, 255, 255, 0.3), transparent 20%), radial-gradient(rgb(47, 47, 0), black);
  border-radius: 100%;
  width: 10px;
  height: 10px;
  position: relative;
}
#time_machine .circuit .boxes .ampm .am::after,
#time_machine .circuit .boxes .ampm .pm::after {
  content: var(--label);
  font-size: 13px;
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translate(-50%, -100%);
  background: rgba(255, 0, 0, 0.834);
  line-height: 12px;
  padding: 0 2px;
  color: white;
  font-variant: small-caps;
  box-shadow: 0px 0px 1px black inset;
  border-radius: 1px;
}
#time_machine .circuit .boxes .ampm .am.on,
#time_machine .circuit .boxes .ampm .pm.on {
  background: radial-gradient(at 70% 30%, rgba(255, 255, 255, 0.3), transparent 20%), radial-gradient(rgb(255, 255, 0), rgb(40, 30, 0));
}
#time_machine .circuit .boxes .ampm .pm {
  margin-top: 15px;
}
#time_machine .circuit .boxes .dots {
  position: relative;
}
#time_machine .circuit .boxes .dots::after, #time_machine .circuit .boxes .dots::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  animation-name: clock;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#time_machine .circuit .boxes .dots::after {
  top: 20%;
}
#time_machine .circuit .boxes .dots::before {
  bottom: 20%;
}
#time_machine .circuit .label {
  text-align: center;
  background: rgb(12, 12, 12);
  color: rgb(212, 212, 212);
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 5px;
  padding: 0 8px;
  line-height: 18px;
  font-family: 15px;
  font-variant: small-caps;
  text-transform: lowercase;
  box-shadow: 1px -1px 0.6px rgb(42, 42, 42) inset;
  border-radius: 1px;
}

@keyframes clock {
  0%, 49.9% {
    background: radial-gradient(at 70% 30%, rgba(255, 255, 255, 0.3), transparent 20%), radial-gradient(rgb(47, 47, 0), black);
  }
  50%, 99.9% {
    background: radial-gradient(at 70% 30%, rgba(255, 255, 255, 0.3), transparent 20%), radial-gradient(rgb(255, 255, 0), rgb(40, 30, 0));
  }
}/*# sourceMappingURL=style.css.map */