<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
    <title>Back to the Portfolio</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <script
      defer
      src="https://unpkg.com/vue@3.0.11/dist/vue.global.prod.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main id="vue_app" class="portfolio_page">
      <div class="header">PROJECTS<</div>
      <div class="timeMachineOverlay">
        <time-machine :now="goTime" :then="now" :was="original"></time-machine>
        <video id="timewarp"
          disablepictureinpicture
          disableremoteplayback
          loading="eager"
          muted
          playsinline
          preload
        >
          <source src="./time-machine/BTTF Time Transition.mp4" type="video/mp4"/>
          Your device doesn't support this video.
        </video>
      </div>
      <div class="control">
        <input
          type="text"
          v-model="query"
          placeholder="Configure Time Circuits..."
          id="search"
          name="search"
        />
        <label for="search">Search</label>
        <span data-bs-toggle="modal" data-bs-target="#aboutModal">About Remy</span>
      </div>
      <div class="projects">
        <div class="skewed">
          <project
            v-for="(item, i) in list"
            :name="item.name"
            :link="item.link"
            :description="item.description"
            :time="item.creationdate"
            loading="lazy"
            @click="select(i)"
          ></project>
        </div>
      </div>
      <div
        class="modal fade"
        id="aboutModal"
        tabindex="-1"
        aria-labelledby="aboutModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="aboutModalLabel">
                About the Designer<
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class='img'>
                <img src="./imgs/IMG_2159.png" alt="Remy Serbinenko">
              </div>
              <div class="about-text">I am a passionate artist that enjoys both the artistic side and the technical side of many crafts. I am currently a graduating Senior of Marlboro High School, and am going to RIT. In my spare time I play the piano, draw, rock climb, and write JavaScript.</div>
              <hr>
              <h2>> His Future</h2>
              <div class="future-text">I am majoring in Film Production at the Rochester Institute of Technology. I hope to continue doing web design alongside, using my knowledge of code to assist me in the filmmaking industry.</div>
              <div class='img2'>
                <img src="./imgs/RITLogo.jpg" alt="RIT Logo">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="projectModal"
        tabindex="-1"
        aria-labelledby="projectModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="projectModalLabel">
                <a :href="current.item?.link || '404.html'" target="_blank">{{current.item?.name}}<</a>
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body" :class="{'featured': current.featured}">
              <div class="iframe">
                <a :href="current.item?.link || '404.html'">
                  <iframe :src="current.item?.link || '404.html'" sandbox="allow-scripts allow-same-origin"></iframe>
                </a>
              </div>
              <div class="about">
                {{current.item?.description}}
              </div>
              <hr>
              <div class="featured" v-if="current.featured">
                <div class="year">{{current.item?.year}}</div>
                <div class="moreInfo">*featured -- {{current.item?.featuredDesc}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script type="text/x-template" id="time_machine_template">
      <!--template-->
      <div id="time_machine">
        <circuit :section="now[0]" :mm="now[1]" :dd="now[2]" :yyyy="now[3]" :hr="now[4]" :min="now[5]"></circuit>
        <circuit :section="then[0]" :mm="then[1]" :dd="then[2]" :yyyy="then[3]" :hr="then[4]" :min="then[5]"></circuit>
        <circuit :section="was[0]" :mm="was[1]" :dd="was[2]" :yyyy="was[3]" :hr="was[4]" :min="was[4]"></circuit>
      </div>
      <!--template-->
    </script>
    <script type="text/x-template" id="project_item">
      <div class="project" @click="click">
        <div class="time">
          <div class="month display">
            <span :style="{'--value': mm}">888</span>
          </div>
          <div class="day display">
            <span :style="{'--value': dd}">88</span>
          </div>
          <div class="year display">
            <span :style="{'--value': yyyy}">8888</span>
          </div>
        </div>
            <div class="iframe">
              <iframe :src="link || '404.html'" :title="name" width="400px" height="100%"
                sandbox="allow-scripts allow-same-origin"></iframe>
            </div>
        <div class="about">
          <h2 class="title">{{name}}</h2>
          <div class="description">{{description}}</div>
        </div>
      </div>
    </script>
    <script type="module" src="script.js"></script>
  </body>
</html>
